*{
    margin: 0;
    padding: 0;
}

.navbar{

    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.recepe{

    
    
    display: inline-flex;
    height: 320px;
    width: 60px;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    

    
}



.recepe_s1
{
padding: 10%;
margin: 10%;
background-color:white;
color: black;
margin: 2px;
border: solid black 2px;

}

.recepe_s1 button{
    background-color:black;
    color:white;
    border: none;
    border: solid rgb(160, 160, 160) 2px;
    padding: 3px;
}


.recepe_s2
{
padding: 10%;
margin: 10%;
background-color: white;
color: black;
border: solid black 2px;
}

.recepe_s2 button{
    background-color:black;
    color:white;
    border: none;
    border: solid rgb(160, 160, 160) 2px;
    padding: 3px;
}
.recepe_s3
{
padding: 10%;
margin: 10%;
background-color: white;
color:black;
border: solid black 2px;
}

.recepe_s3 button{
    background-color:black;
    color:white;
    border: none;
    border: solid rgb(160, 160, 160) 2px;
    padding: 3px;
}
.recepe_s4
{
padding: 10%;
margin: 10%;
background-color: white;
color: black;

border: solid black 2px;
}

.recepe_s4 button{
    background-color:black;
    color:white;
    border: none;
    border: solid rgb(160, 160, 160) 2px;
    padding: 3px;
}

.contact{

    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
   display:block;
   align-items: center;
   text-align: center;
   
   



}

.contact_s1{

    
    text-align: center;
    align-items: center;
   
}

.contact button{

    background-color: yellow;
    color: black;
    width: 60%;
}